/* .histitle{
  margin-top:15%;
}
.typtitle{
    margin-top:15%;
    margin-left:40%;
    margin-bottom:5%;
} */
.titles{
    margin-left:39%;
    margin-bottom:5%;
}
.sidenavs{
    margin-top:10%;
    margin-left:-40px;

}
.sidenavs a{
    text-decoration:none;
}